*.pyc
*.sqlite3
/JoinWikipedians/settings/local.py
local.py

migrations/
**/migrations/
**/migrations/*
*/static_Root/
*/static_Root/*

/static/static-only
**/static-only
/static/static-only/*
**/static-only/*


# Elastic Beanstalk Files

.elasticbeanstalk/
.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

CommandsAfterDeployment.txt