
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="icon" href="../../favicon.ico"> -->

    <title>Returned Page</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="view-source:http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <style>
      h1 {
        font-size: 19px;
      }
    </style>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div style="padding: 10px;">
          <img src="{{ MEDIA_URL }}logo.png" alt="University of Michigan - School of Information Logo" width="460" height="42">
        </div>

        <div class="cover-container">

          <div style="text-align: left;">
            <h1 class="cover-heading">Dear {{ title }} {{ name }},</h1><br>
            <h1 class="cover-heading">We are happy that you are interested in contributing to Wikipedia.</h1>
            <h1 class="cover-heading">We just sent you an email including the recommended Wikipedia articles.</h1><br>
            <h1 class="cover-heading">Sincerely,</h1>
            <p class="cover-heading">Yan Chen, Daniel Kahneman Collegiate Professor of Information, University of Michigan</p>
<!--             <p class="cover-heading">Rosta Farzan, Assistant Professor of Information, University of Pittsburgh</p> -->
            <p class="cover-heading">Robert Kraut, Herbert A. Simon Professor of Human-Computer Interaction, Carnegie Mellon University</p>
            <br>
            <hr>
            <p class="cover-heading">&copy; 2016 Regents of the University of Michigan</p>
          </div>
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
