packages:
  yum:
    git: []
container_commands:
  00_make_executable:
    command: "chmod +x scripts/createadmin.py"
    leader_only: true
  01_permit_manage_py:
    command: "chmod 777 manage.py"
    leader_only: true
  02_syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  05_createadmin:
    command: "python scripts/createadmin.py"
    leader_only: true
  06_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: JoinWikipedians/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: JoinWikipedians.settings
  - option_name: AWS_SECRET_KEY
    value: 5TZ9lZ1Xo/2lRDGbiFkQ5Nm/frEKr5Nh/FpsND7y
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAIWNM3XOVW6HIEU3A
