
#map-canvas { height: 100%; margin: 0; padding: 0;}

th {
background-color: #A7C942;
color: #fff;
border: 1px solid #98bf21;
padding: 3px 7px 2px 7px;
font-family: verdana,helvetica,arial,sans-serif;
font-weight: bold;
display: table-cell;
vertical-align: inherit;
border-collapse: collapse;
text-align: center;
vertical-align: middle !important;
}
th.title {
background-color: #97B834;
font-size:22px;
}
tbody tr:hover th.title { 
background-color: #97B834;   /* or whatever color you want */
}
th.header1 {
background-color: #97B834;
font-size:19px;
}
tbody tr:hover th.header1 { 
background-color: #97B834;   /* or whatever color you want */
}
th.header2 {
background-color: #A7C942;
font-size:16px;
}
tbody tr:hover th.header2 { 
background-color: #A7C942;   /* or whatever color you want */
}
th.header3 {
background-color: #B4D05E;
font-size:13px;
}
tbody tr:hover th.header3 { 
background-color: #B4D05E;   /* or whatever color you want */
}
td {
border: 1px solid #98bf21;
padding: 3px 7px 2px 7px;
font-family: verdana,helvetica,arial,sans-serif;
line-height: 130%;
display: table-cell;
text-align: center;
vertical-align: middle !important;
}

@-moz-document url-prefix() {
fieldset { display: table-cell; }
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 130px;
  width: 250px;
  font-size:100px;
  color: #ff8000;

}
.pace.pace-inactive {
  display: none;
}
.alignLeft {
  text-align: left;
  padding-left:19px;
}